{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur votre page d'accueil {{user.username}}</h1>
    {# Ajoutez ici le contenu de votre page d'accueil #}
{% endblock %}